@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

/* Custom font */
@font-face {
  font-family: "BhayaKaFont";
  src: url("/fonts/mangat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
